TrivagoDDL
Report.html
data_recruiting_bi_data_challenge.csv
.DS_Store
.RData
boxplot_distance.png
boxplot_distance_cut.png
Feature importance.png
CorrPlot.png
Case Study_BI Recruiting data challenge.pdf
Report.pdf
data
